<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VPEX - Home</title>
    <style>
      .fixed-bg {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("static/vicpark.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .image {
        width: auto;
        height: auto;
        max-width: 400px;
        max-height: 400px;
      }
      .text-header {
        font-size: 8rem;
      }
      @media screen and (min-width: 480px) {
        .text-header {
          font-size: 12rem;
        }
      }
      @media screen and (min-width: 720px) {
        .text-header {
          font-size: 16rem;
        }
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">VPEX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-game">
                Create
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Play
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="join-game">Join Hunt</a></li>
                <li><a class="dropdown-item" href="/guessr">Play Guessr</a></li>
              </ul>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                Saved Games
                </a>
            </li>
            {% endif %}
          </ul>
          
          <div class="d-flex text-end">
            {% if current_user.is_authenticated %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{current_user.username}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
              </ul>
            </div>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/register">Register</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <main>
      <div class="fixed-bg vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-white text-header">VPEX</h1>
        <p class="text-warning">Scroll down for How to Play Instructions!</p>
      </div>
      <div class="mt-3">
        <div class="p-4 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-center">How to Play Scavenger Hunt</h2>
          <p class="text-justify w-75">
            In the scavenger hunt, you will be directed to a room and given a riddle. In the room, there will 
            be a hidden object with a code written upon it. Its location will be hinted through the riddle and 
            you will have to find it! Once you've found the object, submit the code to reach the next item. Compete
            with other users to finish the hunt first!
          </p>
          <img src="static/code.jpg" alt="Image of Water Bottle with Submission Code" class="image"/>
          <div class="d-flex justify-content-center gap-4">
            <a href="/create-game"><button title="create" type="button" class="btn btn-primary mt-3">Create a Hunt!</button></a>
            <a href="/join-game"><button title="join" type="button" class="btn btn-info mt-3">Join a Hunt!</button></a>
          </div>
        </div>
        <div class="p-4 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-center">How to Play Guessr</h2>
          <p class="text-justify w-75">
            In this game, you will be shown a photo when you click "Show Photo". Click on the map to guess the location
            of the photo in the school. Click submit to see how close you got to the actual location!
          </p>
          <div class="d-flex justify-content-center">
            <a href="/guessr"><button title="create" type="button" class="btn btn-info mt-3">Play Guessr!</button></a>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>